-# - binding.break
- if can? :choose_best, answer
  -if best
    = button_to 'Remove from best', delete_best_question_answer_path(id: answer.id, question_id: answer.question_id), method: :delete, class: 'btn btn-outline-success'
  - else
    = button_to 'Choose as best', choose_best_question_answer_path(id: answer.id, question_id: answer.question_id), method: :post, class: 'btn btn-outline-success'
- if can? :edit, answer
  = link_to 'Edit answer', edit_question_answer_path(id: answer.id, question_id: answer.question_id), class: 'btn btn-outline-warning'
  = button_to 'Delete answer', question_answer_path(id: answer.id, question_id: answer.question_id), method: :delete, class: 'btn btn-outline-danger'
