- if answer&.id.present?
  -if best
    #best-answer
      %p Best answer
      %p= answer.body 
      = render partial: 'questions/answer_buttons', locals: { answer: answer, best: true }
  - else
    =turbo_frame_tag answer do
      .answer-card
        %p= answer.body
        = render partial: 'questions/answer_buttons', locals: { answer: answer, best: false }
