%h1=@question.title
%p=@question.body

%h4 Create new answer 
=render partial: 'form', locals: { answer: @answer }
%h2 Answers:
#answers
  -@question.answers.each do |answer|
    =render partial: 'answer', locals: {answer: answer }
