.answer-votes
  %p{id: "rate-number-#{answer.id}"}= "Rate: #{answer.rate}"
  -if can? :vote, answer
    %div{ id: "vote-buttons-#{answer.id}" }
      = render partial: 'shared/vote_buttons', locals: { disabled: has_vote?(answer), path: answer, object: answer }
