.votes
  %p{id: "rate-number-#{object.id}"}= "Rate: #{object.rate}"
  -unless owner?(object.user_id)
    %div{ id: "vote-buttons-#{object.id}" }
      = render partial: 'shared/vote_buttons', locals: { disabled: has_vote?(object, @user_votes), path: {id: object.id, question_id: object.question_id} }