= button_to 'Like', vote_question_answer_path(answer), value: 'liked', name: 'vote', disabled: disabled
= button_to 'Dislike', vote_question_answer_path(answer), value: 'disliked', name: 'vote', disabled: disabled