= turbo_stream.update 'new-answer' do
  = render partial: 'questions/answer_form', locals: { answer: @question.answers.build }

= turbo_stream.append 'answers' do
  = render partial: 'questions/answer', locals: { answer: @answer, best: false }
