.answer-card {
  width: 500px;
  border: solid rgb(129, 123, 123) 1px;
  border-radius: 5px;
}

#best-answer {
  width: 500px;
  border: solid rgb(226, 175, 8) 1px;
  border-radius: 5px;
}

.empty-answer {
  display: none;
}
