.file {
  margin: 15px;
}

.comment-card {
  border: solid rgb(129, 123, 123) 1px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.header {
  background-color: rgb(243, 241, 241);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.form {
  max-width: 300px;
}
